@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.main-content {
    background: url("./images/main-bg.jpg") no-repeat center;
    height: 500px;
    width: 1920px;
}

.text--underline {
    background: linear-gradient(to right, #FFC800, #FFC800) no-repeat;
    background-size: 120px 5px;
    background-position: right bottom;
    color: #00385F;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 10px;
}

.text--underline-l {
    background: linear-gradient(to right, #FFC800, #FFC800) no-repeat;
    background-size: 120px 5px;
    background-position: left bottom;
    color: #00385F;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 20px;
}
